*

!.gitignore
!README.md

!/app/
!/app/main.py

!/config/
!/config/settings.py

!/core/
!/core/bot.py
!/core/logger.py
!/core/redis_client.py
!/core/database.py

!/database/
!/database/**/*
!/database/__init__.py
!/database/database.py

/database/models.py

!/core/parser/
!core/parser/.gitkeep

!/handlers/
!/handlers/admin/
!/handlers/profile/
!/handlers/search/
!/handlers/start/
!handlers/admin/admin.py
!handlers/profile/profile.py
!handlers/profile/support.py
!handlers/search/__init__.py
!handlers/search/search.py
!handlers/start/__init__.py
!handlers/start/start.py

!/keyboards/
!keyboards/reply.py

!/logs/
!logs/.gitkeep

!/middlewares/
!middlewares/tech_works.py
!middlewares/ban.py

!/scripts/
!/scripts/**

!/tasks/
!tasks/record_load_history.py
!tasks/subscription_paid.py

!requirements.txt