# Игнорирование всех файлов и папок
*

# Исключение .gitignore и разрешение отслеживания конкретных папок и файлов
!.gitignore
!.gitkeep

# Разрешение для всех подпапок внутри app
!/app/**

# Разрешение для config/settings.py
!/config/
!/config/settings.py

# Разрешение для всех подпапок внутри core
!/core/
!/core/bot.py
!/core/logger.py
!/core/redis_client.py
!/core/database.py
